{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "astroAllowShorthand": true,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
